/* ESTILOS GENERALES */
a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}

/* BODY */
body {
    background-color: rgb(227, 245, 247);
}


/* HEADER */
nav {
    background: linear-gradient(9deg, rgba(255,255,255,1) 5%, rgba(31,156,173,1) 100%, rgba(159,58,58,0.5565819861431871) 100%, rgba(71,70,70,1) 100%, rgba(52,51,51,1) 100%);
}

/* TAMAÑO DEL TEXTO DEL LOGO */
.navbar-brand {
    font-size: 2rem;
}

/* TAMAÑO DEL TEXTO DEL LOGO 'Store' */
.navbar-brand__span {
    font-size: 1.6rem;
}

/* TAMAÑO DEL TEXTO DE LAS OPCIONES DEL NAVBAR */
.nav-text {
    font-size: 1.5rem;
}

/* ICONO DEL NAVBAR 'PERFIL' */
.img-perfil {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("/vistas/img/iconos/user.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}

/* ICONO CARRITO DE COMPRA */
.carrito-de-compra-nav {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("/vistas/img/iconos/cart.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
    margin-right: 4px;
}

/* CIRCULO DEL CARRITO DEL CARRITO DE COMPRA */
.carrito-compra-circulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(255, 254, 254);
    position: relative;
    top: -12px;
    right: 28px;
}

/* MAIN */
main {
    margin-top: 90px;
}

/* TARJETA DE PRODUCTOS */
.card {
    width: 239px;
    height: 480px;
}

/* IMAGEN DE LAS TARJETAS */
.card-img-top {
    width: 237px;
    height: 275px;
}

/* ESTILO CARRITO DE COMPRA TARJETA DE PRODUCTOS */
.carrito-de-compra {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("/vistas/img/iconos/cart4.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}

/* FOOTER */
.footer__p {
    font-size: 1.6rem;
}

footer {
    background: linear-gradient(164deg, rgba(255,255,255,1) 5%, rgba(34,87,94,1) 100%, rgba(159,58,58,0.5565819861431871) 100%, rgba(71,70,70,1) 100%, rgba(52,51,51,1) 100%) !important;
}

.footer__img-redes {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 8px;
}

.facebook {
    background-image: url("/vistas/img/iconos/facebook\ \(1\).png");
}

.instagram {
    background-image: url("/vistas/img/iconos/instagram\ \(1\).png");
}

.tiktok {
    background-image: url("/vistas/img/iconos/tik-tok.png");
}