/* Estilos de letras */
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

/* ESTILOS GENERALES */
a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}

li {
    list-style: none;
}

/* BODY */
body {
    background-color: rgb(227, 245, 247);
}


/* HEADER */
header {
    background: linear-gradient(9deg, rgba(255,255,255,1) 5%, rgba(31,156,173,1) 100%, rgba(159,58,58,0.5565819861431871) 100%, rgba(71,70,70,1) 100%, rgba(52,51,51,1) 100%);
    height: 10vh;
}

nav {
    background: linear-gradient(9deg, rgba(255,255,255,1) 5%, rgba(31,156,173,1) 100%, rgba(159,58,58,0.5565819861431871) 100%, rgba(71,70,70,1) 100%, rgba(52,51,51,1) 100%);
    border-radius: 180px;
    opacity: 94%;
    height: 10vh;
}

.nav-item {
    list-style: none;
}

/* LOGO */
.container-logo {
    font-family: 'Roboto';
    color: #e5e5e5;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-logo p {
    color: black;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-size: 2rem;
}

.container-logo .first, .second, .third {
    color: black;
    font-size: 1.8rem;
}

.animation-logo {
    height:50px;
    overflow:hidden;
    margin: auto 0;
}

.animation-logo > div > div {
    height:2.81rem;
    margin-bottom: 3rem;
    display:inline-block;
}

.animation-logo div:first-child {
    animation: text-animation 8s infinite;
}

@keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
}

/* TAMAÑO DEL TEXTO DEL LOGO 'Store' */
.navbar-brand__span {
    font-size: 1.6rem;
}

/* TAMAÑO DEL TEXTO DE LAS OPCIONES DEL NAVBAR */
.nav-text {
    font-size: 1.5rem;
}

.cajon-inicio-de-sesion {
    background-color: rgba(104, 85, 148, 0.2);
    border-radius: 10px;
    margin-left: 28px;
}

.cajon-inicio-de-sesion:hover {
    transform: scale(1.1);
}

.cajon-inicio-de-sesion_ul {
    padding: 2px;
}

/* ICONO DEL NAVBAR 'PERFIL' */
.img-perfil {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("../img/iconos/user.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto 4px auto 10px ;
}

/* ICONO CARRITO DE COMPRA */
.carrito-de-compra-nav {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("../img/iconos/cart.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
    margin-right: 4px;
}

/* CIRCULO DEL CARRITO DEL CARRITO DE COMPRA */
.carrito-compra-circulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    position: relative;
    top: -14px;
    right: 26px;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(37, 37, 37);
}

.btn-sesion {
    width: 124px;
    height: 36px;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 10px;
}

/* MAIN */

.main-secciones-articulos-mensaje-principal {
    display: flex;
}

.articulo-principal {
    height: 90vh;
}

.contenedor-mensaje-principal {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url("../img/ropas/banners/anchos/banner\ principal.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.contenedor-mensaje-principal__texto {
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 16px;
}


.contenedor-mensaje-principa__texto h2 {
    font-size: 2.5rem;
}

.contenedor-mensaje-principal__texto p {
    font-size: 1.3rem;
}

.contenedor-texto {
    overflow: hidden; /* Oculta cualquier parte del texto que se desborde del contenedor */
    white-space: nowrap; /* Evita que el texto se envuelva a la siguiente línea */
    font-size: 2rem;
    background: white;
    color: black;
    padding: 6px 0;
  }

.contenedor-texto p {
    margin: 0;
    padding: 0;
}
  
.texto-animado {
    display: inline-block;
    position: relative;
    right: -100%; /* Comienza fuera del área de visualización a la izquierda */
    animation: moverTexto 20s linear infinite; /* Ajusta la duración según sea necesario */
}

.texto-animado span {
    margin-right:80px;
}
  
@keyframes moverTexto {
    from {
      right: -100%; /* Posición inicial fuera del área de visualización */
    }
    to {
      right: 100%; /* Mueve el texto completamente a través del contenedor hasta que esté fuera de la vista a la derecha */
    }
}

.texto-categoria {
    font-family: 'Roboto';
}
  

.main-secciones-articulos {
    margin-top: 80px;
}

.primero {
    margin-top: 8px;
}

.carousel-contenedor-tarjetas {
    display: flex;
}

.contenedor-tarjetas {
    gap: 10px;
}

/* TARJETA DE PRODUCTOS */
.card {
    position: relative;
    width: 300px;
    height: 520px;
}

.card-title {
    text-align: center;
}

.card-body ul {
    padding: 0;
    margin: 0 0 12px 0;
}

.card-icon-container {
    position: absolute;
    display: flex;
    right: 0;
}

.card-icon-top {
    width: 60px;
    height: 60px;
}

/* IMAGEN DE LAS TARJETAS */
.card-img-top {
    width: 100%;
    height: 290px;
}

.icon-card-oferta-container {
    position: absolute;
    display: flex;
    right: 0;
    background-color: red;
    padding: 4px;
    border-radius: 0 4px 0 12px;
}

.icon-card-oferta-container__descuento {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    padding: 0;
    margin: auto 0;
}

.icon-card-oferta-container__icon-descuento {
    width: 40px;
    height: 40px;
}

.icon-card-best-seller-container {
    position: absolute;
    display: flex;
    right: 0;
}

.icon-card-best-seller-container img {
    width: 60px;
    height: 60px;
}

.btn-carrito {
    height: 50px;
    width: 220px;
    font-size: 1.5rem;
    position: absolute;
    left: calc(50% - 110px);
    bottom: 8px;
}

/* ESTILO CARRITO DE COMPRA TARJETA DE PRODUCTOS */
.carrito-de-compra {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../img/iconos/add-to-cart.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}

.carousel-prev-icon {
    background-color: rgba(0, 0, 0, 0.8);
    width: 80px;
    height: 60px;
    position: absolute;
    top: 250px;
}

.carousel-next-icon {
    background-color: rgba(0, 0, 0, 0.8);
    width: 80px;
    height: 60px;
    position: absolute;
    top: 250px;
}


/* ------------------ */
/* FOOTER */
footer {
    background: linear-gradient(164deg, rgba(255,255,255,1) 5%, rgba(34,87,94,1) 100%, rgba(159,58,58,0.5565819861431871) 100%, rgba(71,70,70,1) 100%, rgba(52,51,51,1) 100%) !important;
}

.footer__p {
    font-size: 1.6rem;
}

.footer-link {
    font-weight: 400;
    font-size: 1rem;
}

.footer-link:hover {
    color: white;
}

.footer__img-redes {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 8px;
}

.facebook {
    background-image: url("../img/iconos/icon-facebook.png");
}

.facebook:hover {
    transform: scale(1.2);
}

.instagram {
    background-image: url("../img/iconos/icon-instagram.png");
}

.instagram:hover {
    transform: scale(1.2);
}

.tiktok {
    background-image: url("../img/iconos/icon-tiktok.png");
}

.tiktok:hover {
    transform: scale(1.2);
}