* ESTILOS GENERALES */
a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}

/* BODY */
body {
    background-color: rgb(227, 245, 247);
}


/* HEADER */
nav {
    background: linear-gradient(9deg, rgba(255,255,255,1) 5%, rgba(31,156,173,1) 100%, rgba(159,58,58,0.5565819861431871) 100%, rgba(71,70,70,1) 100%, rgba(52,51,51,1) 100%);
}

/* TAMAﾃ前 DEL TEXTO DEL LOGO */
.navbar-brand {
    font-size: 2rem;
}

/* TAMAﾃ前 DEL TEXTO DEL LOGO 'Store' */
.navbar-brand__span {
    font-size: 1.6rem;
}

/* TAMAﾃ前 DEL TEXTO DE LAS OPCIONES DEL NAVBAR */
.nav-text {
    font-size: 1.5rem;
}

/* MAIN */
.container {
    margin-top: 80px;
    border-radius: 1rem;
    border: 2px solid rgb(122, 161, 173);
    height: 700px;
    background: linear-gradient(164deg, rgba(255,255,255,1) 5%, rgba(34,87,94,1) 100%, rgba(159,58,58,0.5565819861431871) 100%, rgba(71,70,70,1) 100%, rgba(52,51,51,1) 100%);
}

.contenedor-formulario {
    height: 697px;
}

.contenedor-formulario__img {
    width: 100%;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
}

.ancla {
    text-decoration: none;
    color: rgb(49, 49, 49);
}

/* TABLETS Y PCS PEQUEﾃ前S */
@media (max-width: 991px) {
    .other {
    display: block;
    padding: 120px 0 0;
}              
}

@media (max-width: 576px) {
    body {
        width: 100%;
        height: 100%;
    }

    .other {
        display: block;
        padding: 100px 0 50px;
        width: 100% !important;
        height: 100% !important;
        border-radius: 0px !important;
        border: none !important;
    }    
}