/* ESTILOS GENERALES */
a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}

li {
    list-style: none;
}

/* BODY */
body {
    background-color: rgb(227, 245, 247);
}


/* HEADER */
header {
    height: 7vh;
}

nav {
    background: linear-gradient(9deg, rgba(255,255,255,1) 5%, rgba(31,156,173,1) 100%, rgba(159,58,58,0.5565819861431871) 100%, rgba(71,70,70,1) 100%, rgba(52,51,51,1) 100%);
}

.nav-item {
    list-style: none;
}

/* TAMAÑO DEL TEXTO DEL LOGO */
.navbar-brand {
    font-size: 2rem;
}

/* TAMAÑO DEL TEXTO DEL LOGO 'Store' */
.navbar-brand__span {
    font-size: 1.6rem;
}

/* TAMAÑO DEL TEXTO DE LAS OPCIONES DEL NAVBAR */
.nav-text {
    font-size: 1.5rem;
}

.cajon-inicio-de-sesion {
    background-color: rgba(104, 85, 148, 0.2);
    border-radius: 10px;
    margin-left: 28px;
}

.cajon-inicio-de-sesion_ul {
    padding: 2px;
}

/* ICONO DEL NAVBAR 'PERFIL' */
.img-perfil {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("../img/iconos/user.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto 0;
}

/* ICONO CARRITO DE COMPRA */
.carrito-de-compra-nav {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("../img/iconos/cart.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
    margin-right: 4px;
}

/* CIRCULO DEL CARRITO DEL CARRITO DE COMPRA */
.carrito-compra-circulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(255, 254, 254);
    position: relative;
    top: -12px;
    right: 28px;
}

.btn-sesion {
    width: 124px;
    height: 36px;
    font-size: 1rem;
    font-weight: bold;
}

/* MAIN */

main {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}

/* CONTENEDOR FORMULARIO */
            
.contenedor-formulario {
    margin-top: 24px;
    background: linear-gradient(164deg, rgba(255,255,255,1) 5%, rgba(34,87,94,1) 100%, rgba(159,58,58,0.5565819861431871) 100%, rgba(71,70,70,1) 100%, rgba(52,51,51,1) 100%);
    border-radius: 1rem;
    border: 2px solid white;
    height: 700px;
}

.formulario {
    height: 695px;
}

.formulario__img {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("../img/ropas/banners/cuadrados-alargados/BANNER-HOME-ANO-CHINO-DRAGON-26012024-SM.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem 0 0 1rem;
}
